html, body{
margin: 0;
  padding: 0;
}

body{
background-color: rgb(255, 0, 0);
}

h1 {
text-Align:center;
	background-color:rgb(255,255,255);
	
	border:ridge 5px;
margin-left:20%;
	margin-right:20%;
}
.Week1paragraph{
margin-left:65%;
	padding:5%;

	background-color:rgb(255, 255, 255)

}
